<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <title>开发框架</title>
    <meta content="vue3，element-ui、typescript、Springboot" name="keywords"/>
    <meta content="AI编码、扩展插件、流程编排、权限管理、快速开发、研发效能系统" name="description"/>
    <link href="css/welcome.css" rel="stylesheet">

<body>
<div class="reveal">HELLO RADE!</div>
<!-- 添加底部说明 -->
<div class="footer-bar">

</div>
<script src="js/welcome.js"></script>
</body>

</html>
